body
{
    background: rgb(4,0,79);
    background: linear-gradient(90deg, rgba(4,0,79,1) 0%, rgba(35,18,47,1) 46%, rgba(77,0,0,1) 100%);
    font-family: "Roboto", Gadget, sans-serif;
}

ul
{
    list-style-type: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: rgba(179, 179, 179, 0.25);
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.main
{
    color: white;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    margin-top: 25%;
    opacity: 1;

    animation: fadeIn ease 10s;
}

.head
{
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 2%;
}

.head2
{
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 2%;
}

.body2
{
    width: 80%;
    margin-left: 10%;
}

.me
{
    padding: 1%;
    border-radius: 50%;
    width: 15%;
    border: 1px solid white;
}

.info
{
    text-align: left;
    font-size: 2em;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2%;
    width: 80%;
    margin-left: 8%;
    line-height: 150%;
}

.info2
{
    text-align: left;
    font-size: 1em;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2%;
    width: 80%;
    margin-left: 8%;
    line-height: 150%;
}

a
{
    color: white;
}

.container
{
    width: 50%;
    margin-left: 25%;
    padding: 2%;
    text-align: center;
}

#comment
{
    width: 40em;
    height: 20em;
}

#vemail, #vname, #sub
{
    width: 20em;
}

#send
{
    height: 2em;
    width: 5em;
    text-align: center;
}